* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
}
*::before,*::after{
    box-sizing: border-box;
}
/* NORMALIZING AND BASIC STYLES*/
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
}
p{
    line-height: 1.35;
}
a{
    text-decoration: none;
}
ol,ul,dl{
    list-style-position: inside;
}
button{
    font-family: inherit;
    font-size: inherit;
    box-sizing: border-box;
}
img{
    display: block;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
}
.header__stdiv{
    position: absolute;
    top: 10%;
    bottom: 10%;
    right: 10%;
    left: 10%;
    background-color: var(--pri-cl-600-lo);
    z-index: 1;
    display: flex;
    flex-flow: column;
    display: none;

}
.bgbidcon{
    overflow:hidden;
    position: absolute;
    top:0; 
    right:0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
    opacity: 0.05;
}
.bg_video{
    display: block;
    width: auto;
    height: auto;
    object-fit: cover;
}